.card {
    position: relative;
    width: 480px;
    height: 332px;
    margin: 5px
}

.thumbnail, .thumbnailContainer{
    width: 480px;
    height: 332px;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.deleteButtonWhenPlayingVideo {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
}

.thumbnailContainer {
    position: relative;
    display: inline-block;
}

iframe {
    background-color: black;
    position: relative;
    width: 480px;
    height: 332px;
}

.deleteButton:hover,
.deleteButtonWhenPlayingVideo:hover {
    background-color: red;
    display: block;
}

.faded {
    opacity: 0.1;
}