.card {
    position: relative;
    width: 520px;
    height: 332px;
    margin: 5px;
    background-color: black;
}

.videosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.thumbnail, .thumbnailContainer{
    width: 520px;
    height: 332px;
}

.thumbnailDeleteButton, .deleteButton, .saveTimeStampButton,.loadTimeStampButton{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
}

.loadTimeStampButton {
    top: 31px;
}

.saveTimeStampButton {
    top: 57px;
}

.thumbnailContainer {
    position: relative;
    display: inline-block;
}

iframe {
    background-color: black;
    position: relative;
    width: 480px;
    height: 332px;
    border-right-color: white 20px;
}

.thumbnailDeleteButton:hover,
.deleteButton:hover {
    background-color: red;
    display: block;
}

.saveTimeStampButton:hover {
    background-color: green;
    display: block;
}

.loadTimeStampButton:hover {
    background-color: yellow;
    display: block;
}

.faded {
    opacity: 0.1;
}