body {
    background-color: #181818;
    color: #ffffff;
}

a {
    color: #065fd4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header, .headline, .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.interface {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    padding: 10px;
}

.inputRow, .messageRow  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputRow > * {
    padding: 10px;
    margin: 5px;
}

label {
    font-size: x-large;
}

input {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #222;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #202020;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px;
}

button:hover {
    background-color: #444;
}

.svgVisible {
    display: inline;
}

.svgInvisible {
    display: none;
}

.messageRow > *{
    padding: 10px;
    margin: 5px;
}

.messageBox {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    border: 1px solid white;
    width: 45vw;
    height: 14px
}

.toggleLogButton {
    padding: 5px;
    margin: 5px;
}

.videosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    padding: 10px;
}

.card {
    position: relative;
    margin: 5px;
    background-color: #202020;
    border: 1px solid #222;
}

.thumbnailContainer {
    position: relative;
    display: inline-block;
}

.thumbnail, .thumbnailContainer, .card{
    width: 516px;
    height: 332px;
}

iframe {
    background-color: #000;
    position: relative;
    width: 480px;
    height: 332px;
    border-right-color: white 20px;
}

.thumbnailDeleteButton:hover,
.deleteButton:hover {
    background-color: red;
}

.thumbnailDeleteButton, .deleteButton, .restartButton{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
}

.thumbnailDeleteButton, .deleteButton {
    background-color: #ff3f3f;
}

.thumbnailDeleteButton:hover, .deleteButton:hover {
    background-color: #d32f2f;
}

.thumbnailDeleteButton svg, .deleteButton svg {
    stroke: #fff;
}

.restartButton {
    background-color: #606060;
    top: 31px;
}

.restartButton:hover {
    background-color: #474747;
}

.restartButton svg {
    stroke: #fff;
}

@media screen and (max-width: 480px) {
    .messageBox {
        width: 268px;
    }
}

@media screen and (min-width: 481px) and (max-width: 598px) {
    .messageBox {
        width: 268px;
    }
}

@media screen and (min-width: 599px) and (max-width: 1920px) {
}

@media screen and (min-width: 1921px) {
}